<html>
<head>
    <title>Portland Food Carts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' type='text/css'>
</head>
<body>
    <p><a href='/'>Home</a></p>
    <h1>Cuisines</h1>

    <form action='/cuisines' method='post'>
        <label for='name'>Cuisine name</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Add cuisine</button>
    </form>
    {% if cuisines is not empty %}
        <p>Here are all our cuisines:</p>
        <ul>
            {% for cuisine in cuisines %}
                <li>{{ cuisine.getType }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/delete_cuisines' method='post'>
        <button type='submit'>Clear</button>
    </form>

</body>
</html>
