<html>
<head>
    <title>Portland Food Carts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' type='text/css'>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center">Portland Food Carts</h1>


        {% if cuisines is not empty %}
            <div class="row">
                {% for cuisine in cuisines %}
                <div class="col-md-2">
                    <h2 class="text-center"><strong><a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getType }}</a></strong></h2>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no cuisines yet!</p>
        {% endif %}

        <h2>Don't see you food cart?  <a href="/add-cart">Click here</a> to add one to our list!</h2>
    </div>

</body>
</html>
