<html>
<head>
    <title>Portland Food Carts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' type='text/css'>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <h3>Local Food Carts</h3>
            <div class="pull-right">
                <p>
                <form action='/login' method='post'><a href="/">Home</a> | <a href="/create_acct">Create an Account</a> | <input type="text" name="username" placeholder="username"><input type="password" name="password" placeholder="password"><button type="submit" name="submit">login</button>
                </p>
            </div>
        </nav>
        <h1 class="text-center">Local Food Carts</h1>



    </div>

</body>
</html>
